# Django Settings
ENVIRONMENT=development
DEBUG=True
SECRET_KEY=django-insecure-&d&cylru%@&_^$_iat5mg87*@cc+e5435@tq*45qvp1t_qcj%s
ALLOWED_HOSTS=*

# Database Settings
DB_NAME=CLASS-BOARD
DB_USER=postgres
DB_PASSWORD=root
DB_HOST=db
DB_PORT=5432
